.recent-searches-container {
    width: 100%;
    z-index: 1;
    > label {
        margin-top: 15px;
        margin-bottom: 5px;
        display: block;
    }
    > .recent-searches {
        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }
        > button {
            padding: 12px 0;
            &.btn-search-item {
                text-align: start;
                > span {
                    color: white;
                }
            }
            &.btn-clear {
                text-align: center;
                color: white;
                font-size: rem(14px);
                font-weight: 600;
                background-color: rgba(233, 39, 39, 0.644);
                padding: 12px;
            }
            &:hover,
            &:focus,
            &:active {
                > span {
                    color: $clr1;
                }
            }
        }
    }
}
