.track-details {
    margin: 30px 0 90px;
    @media (max-width: $mobile-breakpoint) {
        padding: 0 10px;
    }
    > .track-panel {
        width: 100%;
        gap: 1.5rem;
        padding-bottom: 70px;
        border-bottom: 1px solid #7b7b7b;
        @media (max-width: $narrow-breakpoint) {
            flex-direction: column;
        }
        > img {
            height: 250px;
            width: 250px;
            &.active:hover {
                opacity: 0.5;
                cursor: pointer;
            }
            animation: fadeIn ease 1s;
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @media (max-width: $mobile-breakpoint) {
                width: 100%;
                height: auto;
            }
        }
        > div {
            > header {
                > * {
                    margin-bottom: 15px;
                }
                > label {
                    font-size: rem(32px);
                }
            }
            > main {
                @media (max-width: $narrow-breakpoint) {
                    margin-bottom: 40px;
                }
            }
            > footer {
                > div {
                    &:not(:last-of-type) {
                        margin-inline-end: 75px;
                    }
                    > img {
                        margin-inline-end: 8px;
                        filter: invert(1);
                        &.clock-img {
                            height: 16px;
                        }
                        &.fav-img {
                            height: 18px;
                        }
                    }
                    > span {
                        font-size: rem(14px);
                        color: #7d7e7f;
                    }
                }
            }
        }
    }
    > .artist-panel {
        margin-top: 30px;
        > h4 {
            margin-bottom: 15px;
            color: #7d7e7f;
        }
        > div {
            > img {
                height: 100px;
                width: 100px;
                margin-inline-end: 30px;
            }
            > div {
                > small {
                    font-size: rem(22px);
                }
                > a > button {
                    border: none;
                    background-color: transparent;
                    font-size: rem(20px);
                    color: $clr1;
                    font-weight: 700;
                    padding: 0;
                }
            }
        }
    }
}
