.track-list-container {
    margin: 30px 0 70px;
    > .track-list {
        &.grid-view {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            grid-gap: 1.5rem;
            margin: 50px 0;
        }
        &.list-view {
            display: flex;
            flex-direction: column;
        }
    }
    > .btns-container {
        padding: 10px;
        margin-top: 5px;
        border-top: 1px solid lightgrey;
        > span {
            border-right: 1px solid lightgray;
            margin: 0 5px;
        }
        > button {
            &.btn-grid img {
                height: 20px;
                filter: invert(1);
            }
            &.btn-list img {
                height: 25px;
                filter: invert(1);
            }
            &.btn-next {
                color: white;
                font-weight: 700;
                margin-inline-start: auto;
            }
        }
    }
}
