.track-details {
    @media (max-width: $mobile-breakpoint) {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
    > main {
        margin: 30px 0;
        padding-bottom: 35px;
        border-bottom: 1px solid #7b7b7b;
        @media (max-width: $narrow-breakpoint) {
            padding-bottom: 70px;
        }
        > .track-panel {
            width: 100%;
            gap: 1.5rem;
            padding-bottom: 35px;
            @media (max-width: $narrow-breakpoint) {
                flex-direction: column;
            }
            > img {
                height: 250px;
                width: 250px;
                animation: fadeIn ease 1s;
                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @media (max-width: $mobile-breakpoint) {
                    width: 100%;
                    height: auto;
                }
            }
            > div {
                > header {
                    > * {
                        margin-bottom: 15px;
                    }
                    > label {
                        font-size: rem(32px);
                    }
                }
                > main {
                    margin-bottom: 10px;
                    @media (max-width: $narrow-breakpoint) {
                        margin-bottom: 40px;
                    }
                }
                > footer {
                    .track-info-container {
                        > div {
                            &:not(:last-of-type) {
                                margin-inline-end: 75px;
                            }
                            > img {
                                margin-inline-end: 8px;
                                filter: invert(1);
                                &.clock-img {
                                    height: 16px;
                                }
                                &.fav-img {
                                    height: 18px;
                                }
                            }
                            > span {
                                font-size: rem(14px);
                                color: #7d7e7f;
                            }
                        }
                    }
                }
            }
        }
        > .play-container {
            position: relative;
            > .btns-container > button {
                &:not(:last-of-type) {
                    margin-inline-end: 11px;
                }
                > img {
                    filter: invert(1);
                    height: 18px;
                    width: 18px;
                }
            }
            > .seekbar-container {
                width: 50%;
                > input[type="range"] {
                    margin: 0 15px;
                    height: 2px;
                    width: 100%;
                    &::-webkit-slider-thumb {
                        visibility: hidden;
                        opacity: 0;
                        height: 5px;
                        width: 5px;
                        transition: opacity 0.3s;
                    }
                    &:hover::-webkit-slider-thumb {
                        visibility: unset;
                        opacity: 1;
                    }
                }
                @media (max-width: $narrow-breakpoint) {
                    position: absolute;
                    bottom: -45px;
                    width: 100%;
                }
            }
            > .volume-bar-container {
                > input[type="range"] {
                    height: 2px;
                    margin-inline-start: 10px;
                }
            }
        }
    }
    > .artist-panel {
        margin-bottom: 50px;
        > h4 {
            margin-bottom: 15px;
            color: #7d7e7f;
        }
        > div {
            > img {
                height: 100px;
                width: 100px;
                margin-inline-end: 30px;
            }
            > div {
                > small {
                    font-size: rem(22px);
                }
                > a > button {
                    font-size: rem(20px);
                    color: $clr1;
                    font-weight: 700;
                }
            }
        }
    }
}
